.advantagesSection {
    background-image: url(../images/grey_map.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.advantages {
    @include flex($justify: center);
    margin-top: 35px;
    &__item {
        width: 33%;
        padding: 0 50px;
        margin-bottom: 20px;
        text-align: center;
        i {
            display: block;
            margin: 0 auto 4px;
        }
        span {
            
        }
    }
}