.contacts {
    border-bottom: 2px solid #B3B3BD;
    padding-bottom: 32px;

    .row {
        @include flex($alignI: flex-start);
    }

    &__address,
    &__phone {
        width: 50%;
    }

    &__address {
        text-align: left;

        a {
            text-decoration: underline;
        }

        p:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &__phone {
        text-align: right;
    }
}



.has-devider {
    position: relative;

    &:before {
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $pink;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -4px;
    }

    &:after {
        content: '';
        width: 1px;
        top: 18px;
        bottom: -13px;
        background-color: $grey;
        position: absolute;
        left: 50%;
        margin-left: -0.5px;
    }
}