.footer {
    padding: 12px 0;
    background-color: $grey;

    .row {
        @include flex($alignI: center);
    }

    &__logo {
        text-align: left;
        text-transform: uppercase;
        font-size: 18px;
        font-family: $ssb;

        img {
            display: inline-block;
            vertical-align: middle;
            margin-right: 8px;
        }

        span {
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__copyright {
        text-align: right;
        font-size: 16px;
    }

    @media ($phones) {
        &__logo,
        &__copyright {
            width: 100%;
            text-align: center;
            margin: 5px 0;
        }
    }
}