         
.mainHeader {
    @include position(fixed, 0, 0, auto, 0);
    z-index: 100;
    @include transition(all, 0s);
    &__top {
        background-color: $white;
        position: relative;
        .wrapper {
            @include flex();
        }
        &:after {
            position: absolute;
            bottom: -10px;
            left: 50%;
            transform: translate(-50%, 0);
            content: '';
            display: block;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent;
            border-top: 10px solid $white;
            @include transition(all, .2s);
        }
    }
    &__bottom {
        padding-top: 19px;
        @include transition(all, .2s);
        .wrapper {
            @include flex();
        }
    }
    @media (min-width: 1000px) {
        &.hasScrolled {
            height: 43px;
            .mainHeader__bottom {
                opacity: 0;
                visibility: hidden;
            }
            .mainHeader__top {
                &:after {
                    opacity: 0;
                }
            }
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
                    box-shadow: 0 0 10px rgba(0,0,0,.4);
        }
    }
    @media (max-width: 1000px) {
        width: 260px;
        bottom: 0;
        height: 100%;
        overflow: scroll;
        right: -260px;
        background: #483B55;
        left: auto;
        -webkit-transition: 0.6s all 0s cubic-bezier(0, 0, 0.25, 1);
            transition: 0.6s all 0s cubic-bezier(0, 0, 0.25, 1);
        -webkit-box-shadow: 0 0 6px rgba(0,0,0,.4);
                box-shadow: 0 0 6px rgba(0,0,0,.4);
        &.active {
            right: 0;
        }
        &__bottom {
            .wrapper {
                display: block;
                text-align: center;
            }
        }
        &__top {
            .wrapper {
                display: block;
                text-align: center;
                padding: 20px 0;
            }
        }
    }
}

.motto {
    font: 15px/16px $s;
    color: #D1CBD4;
    width: 46%;
    @media (max-width: 1000px) {
        width: 100%;
        padding: 0 10px;
        color: #FFF;
        margin: 30px auto;
    }
}

/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    display: block;
    ul {
        list-style-type: none;
        @media (max-width: 1000px) {
            width: 100%;
        }
        li {
            display: inline-block;
            vertical-align: middle;
            @media (max-width: 1000px) {
                display: block;
            }
            a {
                display: inline-block;
                margin: 0 10px;
                color: $purple;
                font: 14px/43px $os;
                position: relative;
                &:before {
                    position: absolute;
                    top: 0px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    content: '';
                    display: block;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-top: 6px solid $pink;
                    @include transition(all, .2s);
                    opacity: 0;
                }
                &:hover:before,
                &.active:before {
                    opacity: 1;
                }
                @media (max-width: 1000px) {
                    display: block;
                    margin: 0 20px;
                    &:before {
                        display: none;
                    }
                }
            }
            &:first-of-type {
                a {
                    margin-left: 0;
                }
            }
            &:last-of-type {
                a {
                    margin-right: 0;
                }
            }
            @media (max-width: 1000px) {
                &:first-of-type {
                    a {
                        margin: 0 20px;
                    }
                }
                &:last-of-type {
                    a {
                        margin: 0 20px;
                    }
                }
            }
        }
    }
}

.tel {
    font: 22px $s;
    color: $purple;
    vertical-align: top;
    span {
        font: 25px $sb;
        vertical-align: top;
    }
}


/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 40px;
    height: 35px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: $pink;
    border: none;
    -webkit-transition: 0.6s all 0s cubic-bezier(0, 0, 0.25, 1);
            transition: 0.6s all 0s cubic-bezier(0, 0, 0.25, 1);
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 70%;
        height: 3px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }
    &.active {
        right: 270px;
    }
    .top_line              {   top: 8px;  margin: auto;}
    .middle_line           {   top: 16px;  margin: auto;}
    .bottom_line           {   bottom: 8px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m1000 {
            display: block;
        }
        /*..............end media.............*/

}

.logo {
    img {
        display: inline-block;
        vertical-align: top;
        margin-right: 1px;
    }
    span {
        display: inline-block;
        vertical-align: top;
        color: #FFF;
        font: 20px $ssb;
    }
    @include m1000 {
        margin: 30px auto;
    }
}

.offerSlider {
    height: 587px;
    padding: 0;
    padding-top: 60px;
    margin: 0;
    background-image: url("../images/offer-bg.jpg");
    background-position: 50% 50%;
    -webkit-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    @media (max-width: 700px) {
        height: auto;
        padding-top: 0;
    }
    .slick-list,
    .slick-track {
        height: 100%;
    }
    .offer__slide {
        height: 100%;
        .wrapper {
            height: 100%;
            padding: 49px 0 40px;
            position: relative;
            @include flex($direction: column);
            @media (max-width: 700px) {
                display: block;
                padding: 60px 15px 40px;
            }
            h2 {
                font: 50px/45px $ssb;
                color: #FFF;
                margin-bottom: 0;
                span {
                    color: $pink;
                    display: block;
                    font: 35px/45px $ssb;
                    @media (max-width: 1000px) {
                        font-size: 28px;
                        line-height: 36px;
                    }
                    @media (max-width: 700px) {
                        font-size: 24px;
                        line-height: 32px;
                    }
                    @media (max-width: 560px) {
                        font-size: 20px;
                    }
                    @media (max-width: 360px) {
                        font-size: 18px;
                    }
                }
                @media (max-width: 1000px) {
                    font-size: 40px;
                    line-height: 36px;
                }
                @media (max-width: 700px) {
                    font-size: 32px;
                    line-height: 32px;
                }
                @media (max-width: 560px) {
                    font-size: 28px;
                }
                @media (max-width: 360px) {
                    font-size: 24px;
                }
            }
            > div > span {
                font: 18px $s;
                color: #FFF;
                margin-top: 8px;
                @media (max-width: 700px) {
                    font-size: 16px;
                }
                 @media (max-width: 360px) {
                    font-size: 14px;
                }
            }
            .offer__slide__bg {
                position: absolute;
                bottom: 0;
                left: 0;
                @media (max-width: 1000px) {
                    opacity: .6;
                }
            }
        }
        &__bottom {
            @include flex($justify: flex-end, $alignI : flex-start);
            width: 100%;
            position: relative;
            z-index: 2;
            @media (max-width: 1000px) {
                -webkit-justify-content: center;
                        justify-content: center;
            }
            @media (max-width: 700px) {
                margin-top: 40px;
            }
            @media (max-width: 560px) {
                display: block;
            }
        }
        &__list {
            list-style-type: none;
            margin-right: 64px;
            position: relative;
            padding-top: 17px;
            @media (max-width: 560px) {
                display: block;
                margin: 0 auto 40px;
                width: 250px;
            }
            li {
                display: block;
                padding-right: 10px;
                position: relative;
                margin-bottom: 13px;
                text-align: right;
                @media (max-width: 560px) {
                    padding-right: 15px;
                }
                a {
                    color: #FFF;
                    font: 18px $s;
                    @media (max-width: 1000px) {
                        text-shadow: 0 0 4px #000, 0 0 4px #000;
                    }
                    @media (max-width: 560px) {
                        font-size: 16px;
                        text-shadow: none;
                    }
                }
                &:after {
                    content: "";
                    display: inline-block;
                    position: absolute;
                    right: -7px;
                    top: 4px;
                    width: 14px;
                    height: 14px;
                    border: 3px solid $purple;
                    background-color: #FFF;
                    -webkit-border-radius: 50%;
                            border-radius: 50%;
                    -webkit-box-sizing: border-box;
                       -moz-box-sizing: border-box;
                            box-sizing: border-box;
                    z-index: 2;
                    @media (max-width: 1000px) {
                        border: none;
                        width: 10px;
                        height: 10px;
                        top: 6px;
                        right: -5px;
                    }
                }
                &:hover {
                    &:after {
                        background-color: $pink;
                    }
                }
            }
            &:after {
                content: "";
                display: block;
                position: absolute;
                right: 0;
                height: 100%;
                width: 1px;
                background-color: rgba(255,255,255, 0.16);
                top: 0;
            }
        }
    }
}

.getKnow {
    background-color: $white;
    padding: 25px 20px 36px;
    text-align: center;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    width: 280px;
    @media (max-width: 700px) {
        width: 260px;
        padding: 20px 16px 30px;
    }
    @media (max-width: 560px) {
        display: block;
        margin: 0 auto;
    }
    p {
        margin-bottom: 33px;
        font: 17px $s;
        color: #3F3A3A;
        @media (max-width: 700px) {
            font-size: 15px;
            margin-bottom: 25px;
        }
        span {
            display: block;
            font: 22px $sb;
            color: $purple;
            text-transform: uppercase;
            margin-bottom: 6px;
            @media (max-width: 700px) {
                font-size: 20px;
            }
        }
    }
}