.registerSection {
    padding-bottom: 40px;

    &.changes {
        padding-bottom: 80px;
        background-image: url(../images/grey_map.jpg);
        background-size: cover;
        background-position: 50% 50%;
        background-repeat: no-repeat;

        h2 {
            margin-bottom: 10px;
        }

        .subtitle {
            font-family: $ssb;
            color: $pink;
            font-size: 25px;
            text-transform: uppercase;
            margin-bottom: 10px;

            & + small {
                font-size: 25px;
                font-family: $ssb;
                margin-bottom: 35px;
                display: block;
            }
        }

        .decorated {
            font-size: 18px;
            @media (max-width: 500px) {
                font-size: 14px;
            }
        }

        .has-devider:after {
            background-color: #B3B3BD;
        }
    }
}

.listsWrap {
    @include flex($alignI: stretch);
    position: relative;
    @media (max-width: 760px) {
        display: block;
    }
    &:before {
        content: "";
        display: block;
        position: absolute;
        right: 0; left: 0;
        width: 8px;
        height: 8px;
        background-color: $pink;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        top: 0;
        margin: auto;
        @media (max-width: 760px) {
            display: none;
        }
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        right: 0; left: 0;
        width: 1px;
        height: 100%;
        background-color: #dcdadf;
        top: 17px;
        margin: auto;
        @media (max-width: 760px) {
            display: none;
        }
    }
    margin-bottom: 20px;
}
.infoList {
    width: 50%;
    padding: 0 60px;
    list-style-type: none;
    @include m1000 {
        padding: 0 30px;
    }
    @media (max-width: 760px) {
        width: 350px;
        padding: 0;
        display: block;
        margin: 20px auto;
    }
    @media (max-width: 500px) {
        width: 280px;
    }
    &__wrap {
        padding: 28px 14px 28px 18px;
        background-color: #f9f9f9;
        height: 100%;
        .decorated {
            margin-bottom: 30px;
        }
    }
    .attention {
        display: block;
        text-align: left;
        margin-top: 50px;
        font: 16px/20px $sb;
    }
    ul {
        list-style-type: none;
        margin-bottom: 18px;
        text-align: left;
        li {
            font-size: 16px;
            margin-bottom: 12px;
            display: block;
            padding-left: 5px;
            &:before {
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                width: 4px;
                height: 4px;
                background-color: $purple;
                -webkit-border-radius: 50%;
                        border-radius: 50%;
            }
        }
        > span {
            font: 20px $sb;
            color: $purple;
            display: block;
            margin-bottom: 8px;
            .price {
                color: $pink;
                font-style: normal;
            }
        }
    }
}

.included {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    font-family: $ssb;
    &:before {
        content: "";
        width: 20px;
        height: 20px;
        display: block;
        margin: 0 auto 5px;
        background-color: $pink;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        background-image: url("../images/check-mark.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: 12px 12px;
             -o-background-size: 12px 12px;
                background-size: 12px 12px;
    }
}