
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
}
body {
    font-family: $s;
    font-size: 18px;
    color: $purple;
    padding-top: 43px;
}
a {
    color: inherit;
}
h2 {
    font-size: $ssb;
    font-size: 40px;
    text-transform: uppercase;
    color: $purple;
    margin-bottom: 50px;
}

// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
}
section {
    padding: 60px 0 80px;
}
