// COLORS
// ---------------------------
$purple:                #52455d;
$pink:                  #ff2762;
$grey:                  #efefef;
$white:                 #e9e7ea;

// FONTS
// ---------------------------
$s:                     'Segoe UI';
$ssb:                   'Segoe UI Semibold';
$sb:                    'Segoe UI Bold';

$os:                    'Open Sans';

$p:                     'Philosopher';


// RESPONSIVE
// ---------------------------
